body{
  padding: 0;
  
  background-color: #0d0c22;
  color:white;
 

}

.input_query{
  background-color: transparent;

}

.text-question {
  position: relative;
  display: inline-block;
  font-size: 20px;
 
}
.text-generated{
  background-color: #2c2929;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  padding: 5px;
}


.overflow-scroll::-webkit-scrollbar {
  display: none;}


 